*{
    background-color: #FFA500;
}
.heading{
    text-align: center;
}
.card{
    display: flex   ;
}
#naurto-card{
    /* text-align: end; */
    float: right;
    text-align:end;
    width: 100%;
}




/* #selectFighter{
    display: none;
} */

.selection{
    display: none;
}
